<div class='ui vertical stripe segment'>
  <h1 class='ui center aligned header'>
    <div class='content'>
      Credits
    </div>
  </h1>

  <div class='ui container'>
    <ul class='ui list'>
      <li>The site logo was made by <strong>JustMrRobBoss#2020</strong> on Discord. <a href='https://discord.gg/XYX3WPn' target='_blank' rel='noopener'>Join his Discord server!</a></li>
    </ul>
  </div>
</div>