<div class='ui inverted vertical masthead segment'>
  <div class='ui container'>
    <h1 class='ui inverted header'>
      <%= image_tag('logo.png', :alt => 'RailOverflow Logo') %>
      <div class='content'>
        RailOverflow
        <div class='sub header'>
          A modern, self-hosted, open-source StackOverflow alternative that is completely free!
        </div>
      </div>
    </h1>
  </div>
</div>

<div class='ui vertical stripe segment'>
  <div class='ui middle aligned stackable grid container'>
    <div class='row'>
      <div class='eight wide column'>
        <h3 class='ui header'>Simple Setup, Fast Results</h3>
        <p>Deploy it through Docker or Heroku or set it up yourself! We make it easy for you to get up and running as quickly as possible. This website is also a public instance, where you can ask questions about setup and related issues!</p>
        <h3 class='ui header'>No Errors, No Worries</h3>
        <p>We heavily test RailOverflow so there's nothing you have to worry about but setting up the application. If you do happen to find a bug, however, report it to us and we'll fix it as soon as possible!</p>
      </div>
      <div class='six wide right floated column'>
        <%= image_tag('home_illustration.svg', :alt => 'Computer monitor with code', :class => 'ui large image') %>
      </div>
    </div>
    <div class='row'>
      <div class='center aligned column'>
        <a href='https://github.com/RailRunner166/rail-overflow' class='ui huge button'>Let's Deploy!</a>
      </div>
    </div>
  </div>
</div>
